.modal {
    
    z-index: 1;
    width: 90vw;
    height: 70vh;
    overflow: auto;

    margin: 15% auto;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}