.modal {
    
    z-index: 1;
    width: 90vw;
    height: 80vh;
    overflow: auto;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5px;
    z-index: 4;
}

.input {
    display: flex;
    flex-flow: column wrap;
}

