.card {
    width: 150px;
    height: 150px;
    border-radius: 20px;

    color: white;
    background-image: url('../../../../../public/user.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

   
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.card:hover {
    box-shadow: 6px 6px 6px 6px hsl(0deg 0% 0% / 0.31);
    transform: scale(1.5);
}

