.card {
    width: 150px;
    height: 150px;
    border-radius: 20px;

    color: white;
    background-image: url('../../../../../public/user.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.5);
}