.main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.card {
    width: 400px;
    height: 200px;
    margin: 20px;
}

.deletar {
    background-color: red;
  border: none;
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
@media (max-width: 450px) {
    .card{
        height: 130px;
        width: 260px
    }
}