.card {
    height: 200px;
    width: 400px;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: crimson;
    margin: 20px;
}

.card:hover {
    filter: grayscale(60%);
}