.card {
    height: 200px;
    width: 400px;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: crimson;
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 6px 6px hsl(0deg 0% 0% / 0.31);
}

@media (max-width: 450px) {
    .card{
        height: 130px;
        width: 260px
    }
}