.card{
    height: 50px;
    width: 120px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 15px;
}

.fechar {
    display: none;
    position: relative;
    bottom: 55px;
    left: 108px;
    width: min-content;
    color: purple;
    font-size: 18px;
}

.container {
    height: 50px;
    width: 120px;
    margin: 5px;
}

.container:hover .fechar{
    display:flex;
}