.alerta {
    position: fixed;
    top: 35%;
    left: 25%;
    width: 50vw;
    height: 30vh;
    z-index: 8;
    box-shadow: 6px 6px 6px 6px hsl(0deg 0% 0% / 0.31);
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.alerta div {
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
}

.alerta h2{
    text-align: center;
}

.alerta button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

.alerta button:hover {
    transform: scale(1.2);
}