.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: blue;
    position: absolute;
    top: 15px;
    left: 15px;
}

.form {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 20px;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 5px;
}

.form section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h2 {
    margin-block: 5px;
}