.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: blue;
    position: absolute;
    top: 15px;
    left: 15px;
}

.form {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 20px;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.botao {
    margin-block: 8px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    
}

.botao:hover {
    background-color: gray;
}

.form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 5px;
}

.form input:read-only {
    background-color: gainsboro;
}

.form section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h2, .form h3, .form h4 {
    margin-block: 8px;
}

.form h6 {
    margin-bottom: 3px;
}