* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif
}


.modal {
  position: fixed;
  top: 10%;
  left: 5%;
  z-index: 1;
  width: 90vw;
  height: 80vh;
  background-color: whitesmoke;
  border: solid 3px orangered;
  z-index: 4;
}

.linkAlunos {
  height: 120px;
  width: 120px;
  margin: 8px 0px 0px 8px;
}

#searchBar {
  margin-inline: 24vw;
  margin-block: 10px;
  height: 30px;
  padding: 5px;
  border-radius: 50px;
}

.legendas {
  margin-left: 10px;
}

.exit {
  position: absolute;
  right: 8px;
  top: 0;
  color: red;
}

input {
  padding: 5px;
  margin: 8px;
}

form div{
  display: flex;
  align-items: center;
  justify-items: center;
}

select {
  padding: 5px;
  margin: 8px;
}

select:focus {
  background-color: rgb(221, 221, 221);
}

input:focus {
  background-color: rgb(221, 221, 221);
}

input[type=submit] {
  transform: scale(3);
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: greenyellow;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  filter:brightness(0.8);
}

input[type=color] {
  padding: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
