* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif
}


.modal {
  position: fixed;
  top: 10%;
  left: 5%;
  z-index: 1;
  width: 90vw;
  height: 80vh;
  background-color: whitesmoke;
  border: solid 3px orangered;
  z-index: 4;
}

.linkAlunos {
  height: 100px;
  width: 100px;
  margin: 5px 0px 0px 5px;
}

.legendas {
  margin-left: 10px;
}

.exit {
  position: absolute;
  right: 8px;
  top: 0;
  color: red;
}


.listaAlunos {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.contagemAlunos {
  position: absolute;
  right: 10px;
  font-size: 5vh;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
