.img{
    width: 300px;
    margin-top: 20px;
    /* transform: translateX(-30px); */
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px !important;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.main h1 {
    font-size: 25px !important;
    font-weight: 200;
}

.card{
    width: 400px;
    height: 500px;
    background-color: rgba(246,255,0,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

.card button{
    padding: 15px;
    background-color: greenyellow;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
}

.card button:hover{
    background-color: rgb(135, 201, 37);
}