.cardManha {
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 5px;
    border-radius: 15px;
    text-align: center;
}

.cardTarde {
    background-color: orange;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 5px;
    border-radius: 15px;
    text-align: center;
}