.cardManha {
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.cardTarde {
    background-color: orange;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.cardManha:hover {transform: scale(1.25);}
.cardTarde:hover {transform: scale(1.25);}