.card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.25);
    box-shadow: 6px 6px 6px 6px hsl(0deg 0% 0% / 0.31);
}
