.sidebar {
    height: 100vh;
    width: 200px;

    position: fixed;
    right: 0;
    top: 0;
    pointer-events: none;
}

.modalSide {
    height: 100vh;
    width: 200px;
    background-color: #04AA6D;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    pointer-events: all;
}

.modalSide a:hover {
    filter: invert();
}

.divModal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.botao {
    z-index: 6;
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: all;
}