.sidebar {
    height: 100vh;
    width: 200px;

    position: fixed;
    right: 0;
    top: 0;
    pointer-events: none;
    z-index: 39;
}

.modalSide {
    height: 100vh;
    width: 200px;
    background-color: #04AA6D;
    color: white;
    display: flex; 
    flex-flow: column nowrap !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    pointer-events: all;
}

.modalSide a:hover {
    filter: invert();
}

.divModal {
    display: flex !important;
    flex-flow: column nowrap !important;
    align-items: center !important;
    justify-content: space-around !important;
}

.botao {
    z-index: 6;
    position: absolute;
    top: 10px;
    right: 8px;
    pointer-events: all;
    transition: 0.3s ease-in-out;
}

.financeiro {
    flex-flow: column !important;

}

.listaFinanceiro {
    font-size: 16px !important;
    margin-left: 3px !important;
    flex-flow: column !important;
}

.listaFinanceiro a{
    margin-bottom: 5px;
}

.botao:hover {
    transform: scale(1.5);
}