.modal {
    position: fixed;
    top: 10%;
    left: 5%;
    z-index: 1;
    width: 90vw;
    height: 80vh;
    z-index: 4;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 6px 6px 6px 6px hsl(0deg 0% 0% / 0.31);
}

.modal .x {
    position: absolute;
    right: 8px;
    top: 0;
    color: red;
}

/* .modal h2 {
    position: absolute;
    right: 50px;
    top: 8px;
    color: gray;
} */

.modal .x:hover {
    color: rgb(213, 0, 0);
    transform: scale(1.5);
}

/* .modal h2:hover {
    color: rgb(119, 119, 119);
    transform: scale(1.5);
} */

.modal form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10%;
}
