.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw; min-height: 90vh;
}

.tabela input[type= number] {
    text-align: right;
    width: 75px;
}

.tabela .table {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 5px;
    overflow-x: auto;
}

.table form:hover {
    background-color: rgb(192, 192, 192);
}

.tabela .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
}

.tabela input[type= text] {
    background-color: gainsboro;
    border: none;
    text-decoration: none;
}

.table input:read-only {
    background-color: gainsboro;
}

.tabela th {
    padding: 8px;

}

.linha h6 {
    display: flex;
    align-items: center;
}

.table div:hover {
background-color: rgb(192, 192, 192);
}

.tabela button {
    padding: 3px;
    margin: 3px;
}

.linha {
    display: flex;
    flex-flow: row;
    padding: 10px;
    overflow-x: auto;
}

.linha h1 {
    margin: 8px;
}

.responsavelInfo {
    display: none;
    position: absolute;
    
    flex-direction: column;
    background-color: rgb(120, 120, 120);
    z-index: 3;
}

.responsavelInfo input {
    margin: 0;
    background-color: rgb(120, 120, 120) !important;
}

.responsavelInfo label {
    background-color: rgb(120, 120, 120)
}

.responsavel:hover .responsavelInfo {
    display: flex; 
}

.responsavel em {
    color: red;
    position: absolute;
   
}


.vencimento {
    width: 30px;
    background-color: white !important;
    border: 1px solid rgb(118, 118, 118) !important;
    text-align: center;
}