.main {
    display: flex;
    flex-flow: column;
}

.main div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.deletar {
    background-color: red;
  border: none;
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.card {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.title {
    justify-content: start !important;
    margin: 20px;
}